.headerContainer {
    padding: 6rem;
    background-color: #BADFBE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.headerTitle {
    color: #fff;
    font-size: 64px;
}

/* quando a tela está grande vai ocupar 40%da tela*/
.headerImage {
    width: 40%;
    justify-content: center;
}

@media(max-width: 765px) {
    .headerImage {
        width: 100%;
    }
}