.menuContainer {
    background: #fff;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    
    }

    .menuItem{
        list-style: none;
        font-size: 24px;
    }

    .menuLink{
        text-decoration: none; 
        font-size: 1.5rem;
        color: #1B523E;
    }
     /* esse media max width é a maior tela de tablet; ou seja, para ficar responsivo */
    @media(max-width: 765px)  {
        .menuContainer {
        flex-direction: column;
        gap: 2rem;
        }

    }